请使用中文

项目介绍：
这是一个从 json 对象中抽样的工具。

技术栈：
- Next.js 15，尽量利用 ServerComponent 实现功能
- typescript 
- shadcn 控件库，如果未安装，请通过命令行安装
- framer-motion 作为动画库

注意事项：
- searchParams 应该被 await

总体规则：
- 除非我明确要求，不要在写完代码之后立即执行脚本，也不要自动执行测试用例
- 使用数据模型驱动的开发，除非我明确要求，否则不要轻易修改数据模型
- 在写代码时，注意参考数据模型
- 环境变量存在于 .env.local 文件中，